{% extends "layout.html" %}

    {% block content %}
<!--    <input type="text" id="login_input" onkeyup="myFunction()" placeholder="Логин">-->
<!--    <input type="text" id="password_input" onkeyup="myFunction()" placeholder="Пароль">-->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>

<div class="ui container" style="padding-top: 30px">
    <div class="ui attached info message">
        <div class="menu">
          <div class="ui form container">
            <p class="ui header">Авторизация</p>
                <form class="ui form" id="auth" action="https://mrcool-apijump.herokuapp.com/user/login" method="post">
                    <div class="field" >
                      <label>Логин</label>
                      <input name="login" form="auth" type="text" id="auth_name" placeholder="Введите логин, например:user" required >
                    </div>
                    <div class="field" >
                      <label>Пароль</label>
                      <input name="password" form="auth" type="password" id="auth_password" placeholder="Введите пароль, например:1234" required >
                    </div>
                  <button class="ui primary button" form="auth" type="submit">Войти</button>
                </form>
          </div>
        </div>
    </div>
    <div class="ui attached positive message" style="padding-top: 20px">
        <div class="menu">
          <div class="ui form container">
            <p class="ui header">Создание аккаунта</p>
                <form class="ui form" id="signup" action="https://mrcool-apijump.herokuapp.com/user/signup" method="post">
                    <div class="field" >
                      <label>Логин</label>
                      <input name="login" form="signup" type="text" id="signup_name" placeholder="Введите логин.." required >
                    </div>
                    <div class="field" >
                      <label>Имя</label>
                      <input name="name" form="signup" type="text" id="signup_fullname" placeholder="Введите имя.." required >
                    </div>
                    <div class="field" >
                      <label>Пароль</label>
                      <input name="password" form="signup" type="password" id="signup_password" placeholder="Введите пароль.." required >
                    </div>
                  <button class="ui red button" form="signup" type="submit">Регистрация</button>
                </form>
          </div>
        </div>
    </div>
</div>

<!--    <script>-->
<!--                const loginButton = document.getElementById("login-form-submit");-->
<!--                const signupButton = document.getElementById("login-form-signup");-->

<!--                loginButton.addEventListener("click", (e) => {-->
<!--                    e.preventDefault();-->
<!--                    const login = document.getElementById("auth_login");-->
<!--                    const password = document.getElementById("auth_pass");-->

<!--                    url_link = 'https://mrcool-apijump.herokuapp.com/user/login?login='+login+'/?password='+password-->
<!--                    window.location.replace(url_link)-->
<!--                })-->

<!--                signupButton.addEventListener("click", (e) => {-->
<!--                    e.preventDefault();-->
<!--                    const login = document.getElementById("auth_login");-->
<!--                    const password = document.getElementById("auth_pass");-->

<!--                    url_link = 'https://mrcool-apijump.herokuapp.com/user/signup?login='+login+'/?password='+password-->
<!--                    window.location.replace(url_link)-->
<!--                })-->
<!--    </script>-->

    {% endblock %}